@import 'genericLayout';
@import 'variables';

/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.heading {
    font-family: 'Montserrat', sans-serif;
    @extend .fw-700,
}

.list-item-card {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 5px;
    padding: 10px;
    border: 1px solid $gray-1;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: 0.3s ease;

    &.timeline {
        grid-template-rows: repeat(3, 1fr);

        &:hover {
            scale: 1.005;
            cursor: pointer;
            box-shadow: 0 0 7px -5px $gray-2;
        }
    }

    .name {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .description {
        grid-column: 1/2;
        grid-row: 2/4;
    }
}

.link-button {
    background: none;
    outline: none;
    border: none;
    color: $primary;
    margin-bottom: 10px;
    cursor: pointer;
    justify-content: center;
    display: flex;
    align-items: center;
    /* Transition for text color on hover */
    transition: color 0.3s ease;
    @extend .text-sm;

    &:hover {
        /* Hover background color */
        color: $primary-hover;
    }

    &:focus {
        /* Remove outline on focus for accessibility */
        outline: none;
        /* Remove outline on focus for accessibility */
        text-decoration: none;
    }
}

/* Basic Button Styling */
.button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;


    &:hover {
        background-color: $primary-hover;
        color: $white;
    }

    &.primary {
        background-color: $primary;
        color: $white;
    }

    &.primary:hover {
        background-color: $primary-hover;
    }

    &.success {
        background-color: $success;
        color: $white;
    }

    &.success:hover {
        background-color: $success-hover;
    }

    &.danger {
        background-color: $danger;
        color: $white;
    }

    &.danger:hover {
        background-color: $danger-hover;
    }

    &.disabled {
        background-color: #ccc;
        color: #666;
        pointer-events: none;
    }

    &.danger-hover:hover {
        /* Hover background color for danger button */
        background-color: $danger-hover;
    }

    /* Animation for button when active */
    &:active {
        /* Increase size by 10% */
        transform: scale(0.95);
        /* Add a smooth transition */
        transition: transform 0.3s ease;
    }
}