/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.list-item-card {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 5px;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin-bottom: 10px;

    &.timeline {
        grid-template-rows: repeat(3, 1fr);
        &:hover {
            cursor: pointer;
            box-shadow: 0 0 10px -5px #6e6e6e;
        }
    }

    .name {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .description {
        grid-column: 1/2;
        grid-row: 2/4;
    }
}

.link-button {
    background: none;
    outline: none;
    border: none;
    font-weight: bold;
    color: #0d94ee;
    margin-block: 10px;
    cursor: pointer;
}