/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.list-item-card {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 5px;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin-bottom: 10px;

    &.timeline {
        grid-template-rows: repeat(3, 1fr);
        &:hover {
            cursor: pointer;
            box-shadow: 0 0 10px -5px #6e6e6e;
        }
    }

    .name {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .description {
        grid-column: 1/2;
        grid-row: 2/4;
    }
}

.link-button {
    background: none;
    outline: none;
    border: none;
    font-weight: bold;
    color: #0d94ee;
    margin-block: 10px;
    cursor: pointer;
    justify-content: center;
    display: flex;
    align-items: center;
}

/* Basic Button Styling */
.button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
    background-color: #2980b9;
    color: #fff;
}

.button.primary {
    background-color: #3498db;
    color: #fff;
}

.button.primary:hover {
    background-color: #2980b9;
}

.button.success {
    background-color: #2ecc71;
    color: #fff;
}

.button.success:hover {
    background-color: #27ae60;
}

.button.danger {
    background-color: #e74c3c;
    color: #fff;
}

.button.danger:hover {
    background-color: #c0392b;
}

.button.disabled {
    background-color: #ccc;
    color: #666;
    pointer-events: none;
}

button.danger-hover:hover {
    background-color: #c0392b; /* Hover background color for danger button */
}

/* Animation for button when active */
.button:active {
    transform: scale(0.95); /* Increase size by 10% */
    transition: transform 0.3s ease; /* Add a smooth transition */
}
  